﻿﻿
@model MemberShipModel
@using Nop.Core.Domain.Discounts
@using Nop.Services
@using Newtonsoft.Json

@{
    if (Model.FromComponent != 1)
    {
        ViewBag.PageTitle = "EditMemberShip";


    }
    ////page title
    //Layout = "_ConfigurePlugin";
}
<style>
    #membership-info-update-notification {
        color: green;
        font-weight: bold;
    }
</style>


@*style="margin-top:-50px"*@

<form asp-controller="DiscountsMemberShip" asp-action="Edit" method="post" asp-validation-summary="All">

    <div class="card-body">
        @if (Model.FromComponent == 1)
        {

            <div>
                <input asp-for="MemberShipName" class="form-control" type="hidden" />
                <span asp-validation-for="MemberShipName"></span>
            </div>




            <div>
                <input asp-for="Id" class="form-control" type="hidden" />
                <span asp-validation-for="Id"></span>
            </div>



            <div>
                <input asp-for="MemberShipRoleId" class="form-control" type="hidden" />
                <span asp-validation-for="MemberShipRoleId"></span>
            </div>

        }
        else
        {
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="MemberShipName" />
                </div>
                <div class="col-md-9">
                    <input asp-for="MemberShipName" class="form-control" readonly />
                    <span asp-validation-for="MemberShipName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9">
                    <input asp-for="Id" class="form-control" type="hidden" />
                    <span asp-validation-for="Id"></span>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-9">
                    <input asp-for="MemberShipRoleId" class="form-control" type="hidden" />
                    <span asp-validation-for="MemberShipRoleId"></span>
                </div>

            </div>

        }



        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsCashCount" />
            </div>
            <div class="col-md-9">

                <nop-editor asp-for="IsCashCount" />
                <span asp-validation-for="IsCashCount"></span>
            </div>
        </div>

        <nop-nested-setting asp-for="IsCashCount" disable-auto-generation="true">
            <div class="form-group row" id="pnlTargetOrderCount">
                <div class="col-md-3">
                    <nop-label asp-for="TargetOrderCount" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="TargetOrderCount" />
                    <span asp-validation-for="TargetOrderCount"></span>
                </div>
            </div>
            <div class="form-group row" id="pnlTargetCashCount">
                <div class="col-md-3">
                    <nop-label asp-for="TargetCashCount" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="TargetCashCount" />
                    <span asp-validation-for="TargetCashCount"></span>
                </div>
            </div>
        </nop-nested-setting>

        @*<div class="form-group row">
            <div class="col-md-3">
            <nop-label asp-for="TargetOrderCount" />
            </div>
            <div class="col-md-9">

            <nop-editor asp-for="TargetOrderCount" />
            <span asp-validation-for="TargetOrderCount"></span>
            </div>
            </div>
            <div class="form-group row">
            <div class="col-md-3">
            <nop-label asp-for="TargetCashCount" />
            </div>
            <div class="col-md-9">

            <nop-editor asp-for="TargetCashCount"/>
            <span asp-validation-for="TargetCashCount"></span>
            </div>
            </div>*@


        <div class="form-group row">
            <div id="membership-info-update-notification" class="col-md-9 offset-md-3">
                <button type="submit" name="save" id="membership-info-submit" class="btn btn-primary">@T("Admin.Common.Save")</button>
            </div>
        </div>
    </div>


</form>

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.IsCashCount)").click(toggleIsCashCount);
        toggleIsCashCount();
        $('#membership-info-submit').on('click', function () {
        var entityId = $('#Id').val();
        var memberShipRoleId = $('#MemberShipRoleId').val();
        var memberShipName = $('#MemberShipName').val();
        var isCashCount =$('#@Html.IdFor(model => model.IsCashCount)').is(':checked');
        var targetOrderCount = $('#TargetOrderCount').val();
        var targetCashCount = $('#TargetCashCount').val();


        var postData = {
            Id: entityId,
            MemberShipRoleId:memberShipRoleId,
            MemberShipName:memberShipName,
            IsCashCount:isCashCount,
            TargetOrderCount:targetOrderCount,
            TargetCashCount:targetCashCount
        };
        var additionalInfoData = {
            model: postData
        };
        //additionalInfoData.push(postData);

        addAntiForgeryToken(additionalInfoData);

        $.ajax({
            cache: false,
            method: "POST",
            url: "@(Url.Action("Edit", "DiscountsMemberShip"))",
            data: additionalInfoData,
            success: function (data, textStatus, jqXHR) {
                    if (data.Result) {
                        //displayBarNotification(data.Msg, 'success', 3500);
                        $('#membership-info-update-notification').text(data.Msg).css('color', 'green');
                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                    else {
                        //display errors if returned
                        //displayBarNotification(data.Msg, 'error', 3500);
                        $('#membership-info-update-notification').text(data.Msg).css('color','red');

                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#membership-info-update-notification').text('Failed to update').css('color', 'red');
                $('#membership-info-update-notification').show();
                $('#membership-info-update-notification').delay(3500).fadeOut('slow');
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    });
    });

    function toggleIsCashCount() {
        if ($('#@Html.IdFor(model => model.IsCashCount)').is(':checked')) {
            $('#pnlTargetOrderCount').hideElement();
            $('#pnlTargetCashCount').showElement();
        } else {
            $('#pnlTargetOrderCount').showElement();
            $('#pnlTargetCashCount').hideElement();
        }
    }

</script>




@*<nop-nested-setting asp-for="IsCashCount" disable-auto-generation="true">
    <div class="form-group row" id="pnlTargetOrderCount">
    <div class="col-md-3">
    <nop-label asp-for="TargetOrderCount" />
    </div>
    <div class="col-md-9">
    <nop-editor asp-for="TargetOrderCount" />
    <span asp-validation-for="TargetOrderCount"></span>
    </div>
    </div>
    <div class="form-group row" id="pnlTargetCashCount">
    <div class="col-md-3">
    <nop-label asp-for="TargetCashCount" />
    </div>
    <div class="col-md-9">
    <nop-editor asp-for="TargetCashCount" />
    <span asp-validation-for="TargetCashCount"></span>
    </div>
    </div>
    </nop-nested-setting>*@
