﻿@model MemberShipModel

@{
    //page title
    ViewBag.PageTitle = "Add New MemberShip";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("MemberShip list");
    //if (Model.FromComponent == 1)
    //{
    //     Layout = "_ConfigurePlugin";
    //}
    //else
    //{
    //    Layout = "_AdminLayout";
    //}
   //Layout = "_ConfigurePlugin";

}

<form asp-controller="DiscountsMemberShip" asp-action="Create" method="post">
    <div class="content-header clearfix">
        @if (Model.FromComponent != 1)
        {
            <h1 class="float-left">
                "Add New MemberShip"
                <small>
                    <i class="fas fa-arrow-circle-left"></i>
                    <a asp-action="Configure">@T("BackToList")</a>
                </small>
            </h1>
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        }


    </div>
    @await Html.PartialAsync("~/Plugins/Discounts.MemberShip/Views/_CreateOrUpdate.cshtml", Model)
</form>
