﻿@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>This Link will redirect you to QCard Payment Info Page</b></p>
        </td>
    </tr>
</table>
