﻿﻿
@model MemberShipModel
@using Nop.Core.Domain.Discounts
@using Nop.Services
@using Newtonsoft.Json

<style>
    #membership-info-update-notification {
       
        color: green;
        font-weight: bold;
    }
</style>



@*<form asp-controller="DiscountsMemberShip" asp-action="Create" method="post">*@
<div class="card-body">

    @if (Model.FromComponent == 1)
    {
        <div class="form-group row">
            <div class="col-md-9">
                <input asp-for="MemberShipRoleId"  class="form-control" type="hidden" value=@Model.MemberShipRoleId />
                <span asp-validation-for="MemberShipRoleId"></span>
            </div>

        </div>
    }
    else
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="MemberShipRoleId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="MemberShipRoleId"  asp-items=ViewBag.MemberShipRoles />
                <span asp-validation-for="MemberShipRoleId"></span>
            </div>
        </div>

    }

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsCashCount" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsCashCount" />
            <span asp-validation-for="IsCashCount"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="IsCashCount" disable-auto-generation="true">
        <div class="form-group row" id="pnlTargetOrderCount">
            <div class="col-md-3">
                <nop-label asp-for="TargetOrderCount" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="TargetOrderCount" />
                <span asp-validation-for="TargetOrderCount"></span>
            </div>
        </div>
        <div class="form-group row" id="pnlTargetCashCount">
            <div class="col-md-3">
                <nop-label asp-for="TargetCashCount" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="TargetCashCount" />
                <span asp-validation-for="TargetCashCount"></span>
            </div>
        </div>
    </nop-nested-setting>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3" id="membership-info-update-notification">
            <button type="submit" name="save" id="membership-info-submit" class="btn btn-primary">@T("Admin.Common.Save")</button>
        </div>
    </div>


</div>

@*</form>
*@

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.IsCashCount)").click(toggleIsCashCount);
        toggleIsCashCount();
        $('#membership-info-submit').on('click', function () {
       


        var memberShipRoleId = $('#MemberShipRoleId').val();
        var memberShipName = $('#MemberShipName').val();
        var isCashCount =$('#@Html.IdFor(model => model.IsCashCount)').is(':checked');
        var targetOrderCount = $('#TargetOrderCount').val();
        var targetCashCount = $('#TargetCashCount').val();

        var postData = {
            
            MemberShipRoleId:memberShipRoleId,
            MemberShipName:memberShipName,
            IsCashCount:isCashCount,
            TargetOrderCount:targetOrderCount,
            TargetCashCount:targetCashCount
        };
        var additionalInfoData = {
            model: postData
        };
        //additionalInfoData.push(postData);

        addAntiForgeryToken(additionalInfoData);

        $.ajax({
            cache: false,
            method: "POST",
            url: "@(Url.Action("Create", "DiscountsMemberShip"))",
            data: additionalInfoData,
            success: function (data, textStatus, jqXHR) {
                    if (data.Result) {
                        //displayBarNotification(data.Msg, 'success', 3500);
                        $('#membership-info-update-notification').text(data.Msg).css('color', 'green');
                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                    else {
                        //display errors if returned
                        //displayBarNotification(data.Msg, 'error', 3500);
                        $('#membership-info-update-notification').text(data.Msg).css('color','red');

                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#membership-info-update-notification').text('Failed to update').css('color', 'red');
                $('#membership-info-update-notification').show();
                $('#membership-info-update-notification').delay(3500).fadeOut('slow');
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    });
    });

    function toggleIsCashCount() {
        if ($('#@Html.IdFor(model => model.IsCashCount)').is(':checked')) {
            $('#pnlTargetOrderCount').hideElement();
            $('#pnlTargetCashCount').showElement();
        } else {
            $('#pnlTargetOrderCount').showElement();
            $('#pnlTargetCashCount').hideElement();
        }
    }
    function membershipCreateAction()
    {

    }
</script>