﻿@model MemberShipSearchModel

@using Nop.Core.Domain.Media


@inject MediaSettings _mediaSettings

@{
    //page title
    ViewBag.PageTitle = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("MemberShip list");
}
@*@{
    Layout = "_ConfigurePlugin";

}
*@


<form asp-controller="DiscountsMemberShip" asp-action="MemberShipList" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Discounts.MemberShip.Fields.PluginName")
        </h1>
        <div class="float-right">
            <a asp-controller="DiscountsMemberShip" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>

            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body">
                                <div class="row">
                                    <div class="col-md-5">


                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="MemberShipName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="MemberShipName" />
                                            </div>
                                        </div>

                                        @*  <div class="form-group row">
                                            <div class="col-md-4">
                                            <nop-label asp-for="TargetOrderCount" />
                                            </div>
                                            <div class="col-md-8">
                                            <nop-editor asp-for="TargetOrderCount" />
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <nop-label asp-for="TargetCashCount" />
                                            </div>
                                            <div class="col-md-8">
                                            <nop-editor asp-for="TargetCashCount" />
                                            </div>
                                            </div>*@

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">

                            @{
                                var gridModel = new DataTablesModel()
                                {
                                    Name = "customers-grid",
                                    UrlRead = new DataUrl("MemberShipList","DiscountsMemberShip", null),
                                    SearchButtonId = "search-customers",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                                {
                                                new FilterParameter(nameof(Model.MemberShipName)),
                                                }
                                };
                                 gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.MemberShipRoleId))
                                      {
                                          IsMasterCheckBox = true,
                                          Render = new RenderCheckBox("checkbox_products"),
                                          ClassName =  NopColumnClassDefaults.CenterAll,
                                          Width = "50"
                                      });

                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.MemberShipName))
                                {
                                    Title = T("Plugins.Discounts.MemberShip.Fields.CustomerRole").Text
                                 });

                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.TargetOrderCount))
                                 {
                                  Title = T("Plugins.Discounts.MemberShip.Fields.TargetOrderCount").Text
                                 });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.TargetCashCount))
                                {
                                  Title = T("Plugins.Discounts.MemberShip.Fields.TargetCashCount").Text,
                                  Width = "100"
                                });

                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.IsActive))
                                {
                                    Title = T("Plugins.Discounts.MemberShip.Fields.Active").Text,
                                    Width = "70",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MemberShipModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                });

                            }
                            @await Html.PartialAsync("Table", gridModel)

                             <script>
                            

                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "DiscountsMemberShip"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            showAlert('deleteSelectedFailed', errorThrown);
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status === 204)
                                            {
                                                showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                return;
                                            }
                                            updateTable('#customers-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                              </script>
                              <nop-alert asp-alert-id="deleteSelectedFailed" />
                              <nop-alert asp-alert-id="nothingSelectedAlert" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

